<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Photos</title>
        <link rel="stylesheet" href="{{ static_dir }}/index.css" type="text/css">
    </head>
    <body>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        <script type="text/javascript">
            {% block js %}
            {% endblock %}
        </script>
    </body>
</html>
