{% extends "base.html" %}

{% block content %}
    {% if not album_dir.is_root %}
        <p>
            <a href="..">
                <i class="arrow arrow-up"></i>
            </a>
        </p>
    {% endif %}

    {% if not album_dir.is_root %}
    <h1>{{album_dir.path.name}}</h1>
    {% endif %}

    {% if album_dir.description %}
    {{ album_dir.description | safe }}
    {% endif %}

    {% if album_dir.children %}
        <div id="album-children">
            {% for child in album_dir.children %}
                <div class="album">
                    <a href="{{child.path.name}}/">
                        <div>
                        {% if child.cover_path %}
                        <img src="{{child.path.name}}/slides/{{child.cover_path.thumbnail_filename()}}" />
                        {% endif %}
                        </div>
                        <div>
                        {{child.path.name}}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if album_dir.images %}
        {% if album_dir.children %}
        <h2>Photos</h2>
        {% endif %}
        <div id="album-photos">
            {% for image in album_dir.images %}
                <div class="thumbnail">
                    <a href="slides/{{image.html_filename()}}">
                        <img src="slides/{{image.thumbnail_filename()}}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
