body {
  margin: 0;
}

a {
  color: #ba1200;
}

#header {
  background-color: #eee;
}

#header * {
  margin-top: 0;
  text-decoration: inherit;
  color: inherit;
}

#header h1 {
  padding: 0.5em;
}

#content {
  text-align: center;
  max-width: 1200px;
  margin: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

#content > * {
  margin-top: 1em;
}

ul {
  padding-left: 1.5em;
}

#album-children {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#album-children > * {
  margin: 1em;
  padding: 0.75em;
  background-color: lightgrey;
  height: min-content;
  border: thin solid black;
  box-shadow: 0.25em 0.25em #ccc;
}

#album-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  margin: 1em;
  display: flex;
  align-items: center;
}

.thumbnail * {
  max-width: 100%;
}

#nav {
  width: 150px;
  margin: auto;
  display: flex;
  padding: 0.5em;
}

#nav div {
  width: 50px;
}

#photo img {
  max-width: 100%;
  height: auto;
}

.caption {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
